.comment-ul {
  margin-top: 10px;
}

.comment-li {
  display: flex;
  margin: 10px 0;
  width: 335px;
}

.comment-author {
  font-weight: 600;
  margin-right: 5px;
}

.comment-delete {
  margin-left: auto;
}
