.post-show-container {
  display: flex;
  background-color: #fff;
  min-width: 800px;
  max-height: 600px;
}

.post-show-details {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.post-show-author {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
  width: 335px;
}

.post-show-avatar-container {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.post-show-avatar {
  border-radius: 50%;
}

.post-show-scroll {
  height: 100%;
  padding: 12px 0;
  overflow: auto;
  border-bottom: 1px solid #efefef;
}

.post-show-username {
  display: inline;
  margin-right: 6px;
  font-weight: 600;
}

.post-show-caption {
  display: inline;
}

.post-show-createdat {
  font-size: 11px;
  letter-spacing: .2px;
  color: #999;
  border-bottom: 1px solid #efefef;
  padding: 4px 0;
}

.post-show-img-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
}

.post-show-delete {
  background-color: black;
  color: white;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  line-height: 26px;
  font-family: sans-serif;
  text-align: center;
  padding: 0 5px;
  position: absolute;
  left: 77%;
  top: 2%;
}

.post-show-delete:active {
  opacity: .7;
}

.post-show-like {
  padding: 13px 0 8px 0 ;
}

.post-show-like-button-true {
  color: red;
}

.post-show-like-count-container {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #262626;
}

.post-show-like-count {
  padding-right: 5px;
}

.likes-header {
  width: 383px;
  height: 44px;
  padding-top: 14px;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #dbdbdb;
  font-weight: 600;
  position: relative;
}

.likes-inactive-button {
  position: relative;
  top: -4px;
  left: -192px;
}

.post-liker-avatar-container {
  height: 30px;
  width: 30px;
  margin-right: 13px;
}

.post-liker-details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 173px;
}

.post-liker {
  border-bottom: solid 1px #efefef;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-liker-username {
  font-weight: 600;
}

.post-liker-fullname {
  color: #999;
  font-weight: 400;
}

.post-liker-follow {
  margin-left: 15px;
}
