.user {
  padding: 60px 20px 0;
  font-family: sans-serif;
  max-width: 935px;
  margin: 0 auto 30px;
}

.user-header {
  height: 100%;
  display: flex;
  margin-bottom: 44px;
}
.user-avatar-box1 {
  width: 33.3333%;
  margin-right: 30px;
}
.user-avatar-box2 {
  width: 152px;
  height: 152px;
  margin-left: auto;
  margin-right: auto;
}

.user-avatar {
  border-radius: 50%;
}

.user-details {
  width: 66.6666%;
  display: flex;
  flex-direction: column;
}

.user-first{
  display: flex;
  height: 40px;
  margin-bottom: 20px;
  align-items: center;
}

.user-username {
  font-size: 32px;
  line-height: 40px;
  color: rgb(38,38,38);
  font-weight: 100;
  margin-right: 20px;
}

.user-full-name {
  display: inline;
  margin-right: 6px;
  font-weight: 600;
}

.user-bio {
  display: inline;
  line-height: 24px;
}

.user-post-header {
  height: 53px;
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.post {
  display: flex;
  align-items: center;
  height: 100%;
  color: #999;
  font-size: 12px;
  font-weight: 600;
  margin-right: 60px;
  border-top: 1px solid;
}

.post:visited {
  color: #262626;
  border-top-color: #262626;
}

.saved {
  display: flex;
  align-items: center;
  height: 100%;
  color: #999;
  font-size: 12px;
  font-weight: 600;
}

.user-second {
  display: flex;
  height: 18px;
  margin-bottom: 20px;
  align-items: center;
}

.user-edit-profile {
  padding: 0 24px;
  border: 1px solid #dbdbdb;
  color: #262626;
  border-radius: 3px;
  line-height: 26px;
  margin-right: 12px;
}

.user-second-li {
  margin-right: 40px;
  font-size: 16px;
  width: auto;
}

.user-post-count {
  display: inline;
  font-weight: 600;
  margin-right: 6px;
}

.user-post-str{
  display: inline;
}
